-f /usr/share/pip-wheels
certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.0
django-appconf==1.0.1
django-image-cropping==1.1.0
django-semanticui-forms==1.6.5
-e git+https://github.com/digi604/django-smart-selects.git@1ceafd8ff63e5888d5c0bcb9ff6f5d4e03769fcf#egg=django_smart_selects
easy-thumbnails==2.5
gunicorn==19.9.0
html5lib==1.0.1
idna==2.7
oauthlib==2.1.0
Pillow==5.2.0
psycopg2==2.7.5
PyJWT==2.4.0
PyPDF2==1.26.0
python-dateutil==1.5
python3-openid==3.1.0
pytz==2018.5
reportlab==3.5.9
requests==2.19.1
requests-oauthlib==1.0.0
singlemodeladmin==0.9
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
stripe==2.8.0
urllib3==1.23
webencodings==0.5.1
xhtml2pdf==0.2.3
