<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }
        th {
            background-color: #d6d6d6;
        }

        td, th {
            border: 1px solid #c4c4c4;
            text-align: left;
            padding: 8px;
        }
        {##}
        {#tr:nth-child(even) {#}
        {#    background-color: #dddddd;#}
        {#}#}
    </style>
</head>
<body>
    <h1>Order ID - {{ order_id | upper }}</h1>
    <p>Hello {{ object.billing_profile.user.first_name }}! Your item is on its way via JRS Express.</p>
    <table>
        <tr>
            <th colspan="2">Order Details</th>
        </tr>
        <tr>
            <td>Order ID:</td>
            <td>{{ order_id | upper }}</td>
        </tr>
        <tr>
            <td>Date Added:</td>
            <td>{{ date_added }}</td>
        </tr>
        <tr>
            <td>Payment Method:</td>
            <td>
                {% if object.payment_type == 'bank_deposit' %}
                    BDO Bank Transfer
                {% elif object.payment_type == 'credit_card' %}
                    {{ object.billing_profile.default_card }}
                {% endif %}


            </td>
        </tr>
        <tr>
            <td>Order Status:</td>
            <td>Paid</td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
        </tr>
        {% for i in object.cart.cartitem_set.all %}
            <tr>
                <td>
                   {{ i.item }}
                </td>
                <td>
                    {{ i.quantity }}
                </td>

            </tr>
        {% endfor %}
    </table>
    <br>
    <table>
        <tr>
            <th colspan="2">Shipping Details</th>
        </tr>
        <tr>
            <td>Shipping Address:</td>
            <td>
                {{ object.shipping_address.address_line_1 }}<br>
                {{ object.shipping_address.address_line_2 }}<br>
                {{ object.shipping_address.city }}<br>
                {{ object.shipping_address.country }}<br>
                {{ object.shipping_address.state|title }}<br>
                {{ object.shipping_address.postal_code }}
            </td>
        </tr>
    </table>

    <p>Please wait 3-5 working days for shipping. Thank you for shopping with us!</p>


</body>
</html>

