<footer>
            <div class="ui  vertical footer segment"  style="background-color: #00B5AD;">
                <div class="ui center aligned container">
                    <div class="ui stackable  divided grid">
                        <div class="four wide column">
                            <h4 class="ui  header">Contact us</h4>
                            <div class="ui  link list">
                                <a href="#" class="item"><i class="envelope icon"></i> einghelscollection@gmail.com</a>
                                <a href="#" class="item"><i class="phone icon"></i> 09498931328</a>
                                <a href="http://m.me/einghelscollection" class="item"><i class="facebook messenger icon"></i> m.me/einghelscollection</a>
                            </div>
                        </div>
                        <div class="five wide column">
                            <h4 class="ui  header">Follow us on</h4>
                            <div class="ui  link list">
                                <a href="https://www.facebook.com/einghelscollection/" class="item"><i class="facebook icon"></i>Facebook</a>
                            </div>
                        </div>
{#                        <div class="three wide column">#}
{#                            <h4 class="ui  header">Group 2</h4>#}
{#                            <div class="ui  link list">#}
{#                                <a href="#" class="item">Link One</a>#}
{#                                <a href="#" class="item">Link Two</a>#}
{#                                <a href="#" class="item">Link Three</a>#}
{#                                <a href="#" class="item">Link Four</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="three wide column">#}
{#                            <h4 class="ui  header">Group 3</h4>#}
{#                            <div class="ui  link list">#}
{#                                <a href="#" class="item">Link One</a>#}
{#                                <a href="#" class="item">Link Two</a>#}
{#                                <a href="#" class="item">Link Three</a>#}
{#                                <a href="#" class="item">Link Four</a>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="seven wide column">
                            <h4 class="ui  header">Einghel's Collection</h4>
                            <p style="color: white;">The better way to start the fashion.</p>
                            <div class="ui  link list">
                            <a href="{% url 'cms:terms-and-conditions' %}" class="item">Terms and Conditions</a>
                            </div
                        </div>
                    </div>
{#                    <div class="ui inverted section divider"></div>#}
{#                    <img src="http://localhost:9000/assets/images/yeoman.png" class="ui centered mini image">#}
{#                    <div class="ui horizontal inverted small divided link list">#}
{#                        <a class="item" href="#">Site Map</a>#}
{#                        <a class="item" href="#">Contact Us</a>#}
{#                        <a class="item" href="#">Terms and Conditions</a>#}
{#                        <a class="item" href="#">Privacy Policy</a>#}
{#                    </div>#}
                </div>
            </div>
        </footer>