<div class="ui sticky" style="width: 100%; background-color:#ffb9b9;">
    <div class="ui sticky container">
    <div class="ui fluid large secondary six item stackable menu" style="background-color: #ffb9b9;">
        <a class="item" href="/products/category/make-up/">Make up</a>
        <a class="item" href="/products/category/skin-care/">Skin care</a>
        <a class="item" href="/products/category/hair/">Hair</a>
        <a class="item" href="/products/category/bath-and-body/">Bath and body</a>
        <a class="item" href="/products/category/supplements/">Supplements</a>
        <a class="item">Others</a>

    </div>
</div>
</div>

<br>