{#<div class="ui menu">#}
{#  <a class="item">Browse</a>#}
{#  <a class="item active">Submit</a>#}
{#  <div class="right menu">#}
{#    <a class="item">Sign Up</a>#}
{#    <a class="item">Help</a>#}
{#  </div>#}
{#</div>#}
{% load static %}
<div class="ui container" style="background-color: black;">
    <div class="ui large secondary menu" style="background-color: white;">
{#        <a class="item"><p class="mainlogo"><span style="color: #11D7D8;">Einghel's </span> <span style="color: #FD9AB6;">Collection</span></p></a>#}
        <a class="item"style="padding: 0px;"><img src="{% static 'img/bruh.png' %}" style="width: 165px; height: 100px;"></a>
        <a class="item" href="{% url 'products:home' %}">Products</a>
        <a class="item">About us</a>
        <a class="item">Testimonials</a>
        <a class="item">Contact us</a>
        <div class="right menu">
            {% if user.is_authenticated %}
                <a class="ui item" href="/logout">
                    Welcome, {{ user.first_name }} |
                    Logout
                </a>
            {% else %}
                <a class="ui item" href="{% url 'accounts:login' %}">
                    Login
                </a>
            {% endif %}
            <a class="item" href="{% url 'carts:cart' %}">
                <i class="shopping cart icon"></i>
                <div id="cart-count-badge" class="floating ui teal label"></div>

            </a>

        </div>
    </div>
</div>
<hr style="margin-bottom: 0px;">



