{#<div class="ui menu">#}
{#  <a class="item">Browse</a>#}
{#  <a class="item active">Submit</a>#}
{#  <div class="right menu">#}
{#    <a class="item">Sign Up</a>#}
{#    <a class="item">Help</a>#}
{#  </div>#}
{#</div>#}
<div class="ui container" style="background-color: black;">
    <div class="ui large secondary menu" style="background-color: white;">
        <a class="item"><h2>Einghel's Collection</h2></a>
        <a class="item" href="{% url 'products:home' %}">Home</a>
        <a class="item">About us</a>
        <a class="item">Testimonials</a>
        <a class="item">Contact us</a>
        <div class="right menu">
            {% if user.is_authenticated %}
                <a class="ui item" href="/logout">
                    Welcome, {{ user.first_name }} |
                    Logout
                </a>
            {% else %}
                <a class="ui item" href="/login">
                    Login
                </a>
            {% endif %}

        </div>
    </div>
</div>
<hr>
<div class="ui sticky container">
    <div class="ui fluid large secondary six item menu" style="background-color: white;">
        <a class="item" href="/products/category/make-up/">Make up</a>
        <a class="item" href="/products/category/skin-care/">Skin care</a>
        <a class="item" href="/products/category/hair/">Hair</a>
        <a class="item" href="/products/category/bath-and-body/">Bath and body</a>
        <a class="item" href="/products/category/supplements/">Supplements</a>
        <a class="item">Others</a>

    </div>
</div>
<br>


