<div class="ui vertical menu">
    <form id="frmSubmit" method="GET" action="{% url 'search:query' %}">
        <div class="item">

            <div class="ui icon input">
                <input type="text" placeholder="Search..." name="q">
                <i class="search link icon" onclick="document.getElementById('frmSubmit').submit();"></i>
            </div>


        </div>
    </form>
    <div class="item">
        <div class="header"><a class="header" href="{% url 'products:home' %}">All products ({{ prod_count }})</a></div>

    </div>
    {% for obj in categories %}
    <div class="item">
        <div class="header"><a class="header" href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></div>
        <div class="menu">
            {% for sub in subcategories %}
                {% if sub.category|slugify == obj.title|slugify %}
                    <a class="item" href="{% url 'products:list_products_by_subcategory' sub.slug %}">{{ sub.title }}</a>
                {% endif %}


            {% endfor %}

        </div>
    </div>
    {% endfor %}
</div>