{#<div class="card" style="width: 18rem;">#}
{#    {% if instance.image %}#}
{#        <img class="card-img-top" src={{ instance.image.url }} alt="Card image cap">#}
{#    {% endif %}#}
{#  <div class="card-body">#}
{#    <h5 class="card-title">{{ instance.title }}</h5>#}
{#    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>#}
{#    <a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-warning">URL shortcut</a>#}
{#  </div>#}
{#</div>#}

<div class="ui special cards" style="margin-bottom: 20px;">
    <div class="card">
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button" onclick="location.href='{{ instance.get_absolute_url }}';">
                            View
                        </div>
                    </div>
                </div>
            </div>
            {% if instance.image %}
                <img src="{{ instance.image.url }}">
            {% endif %}
        </div>
        <div class="content">
            <a class="header" href="{{ instance.get_absolute_url }}" style="font-size: 16px; padding-bottom: 5px;">{{ instance.title }}</a>
            <div class="meta">
                <span class="left floated">₱{{ instance.price }}</span>
                <span class="right floated">
                <button class="ui basic button">
                <i class="shop icon"></i>
                Add to cart
                </button>
                </span>

                </span>
            </div>
        </div>
        <div class="extra content">
            <a>
                Rating:
                <div class="ui star rating" data-rating="3"></div>
            </a>
        </div>
    </div>
</div>