{% extends 'base.html' %}

{% block content %}
    <div class="ui container">
        <div class="ui centered grid">
            <div class="seven wide computer ten wide tablet thirteen wide mobile column">
                <br>
                <h2><i class="user icon"></i> My Account</h2>
                <table class="ui definition unstackable table">

                    <tbody>
                    <tr>
                        <td class="collapsing">Username</td>
                        <td class="">{{ request.user.username }}</td>
                    </tr>
                    <tr>
                        <td class="collapsing">First Name</td>
                        <td class="">{{ request.user.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{ request.user.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ request.user.email }}</td>
                    </tr>
                    </tbody>
                </table>
                <button class="ui teal button" onclick="location.href='{% url 'accounts:change_email' %}';"><i class="at icon"></i>Change email</button>
                {% if request.user.has_usable_password %}
                <button class="ui teal button" onclick="location.href='{% url 'accounts:change_password' %}';"><i class="lock icon"></i>Change password</button>
                {% endif %}
            </div>
        </div>

            <table class="ui definition unstackable table">
                    <tbody>
                        {% for address in request.user.billingprofile.address_set.all %}
                        <form method="GET" action="{% url 'accounts:edit_address' %}">
                            <tr>
                                <td class="collapsing">Address #{{ forloop.counter }}</td>
                                <td class="">
                                    {{ address.address_line_1 }}, {{ address.address_line_2 }}, {{ address.city }}, {{ address.country }}, {{ address.state }}, {{ address.postal_code }}<br>
                                <input type="hidden" name="address_id" value="{{ address.id }}">
                                <button type="submit" name="address_edit" value=True>Edit</button>
                                <button type="submit" name="address_delete" value=True>Delete</button>
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>

    </div>

{% endblock %}