{% extends 'base.html' %}
{% load semanticui %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="ui centered grid">
        <div class="seven wide column">
            <div class="ui raised segment">
                <h2><i class="edit icon"></i> Edit Address</h2>
                <form class="ui form" method="POST"> {% csrf_token %}
                    {#    {{ form }}#}
                    {% if next_url %}
                        <input type="hidden" name="next" value="{{ next_url }}">
                    {% endif %}
                    {% if address_type %}
                        <input type="hidden" name="address_type" value="{{ address_type }}">
                    {% endif %}
                    {% render_form form %}

                    {% for message in messages %}
                        <div class="ui negative message">
                            <div class="header">
                                Oops!!
                            </div>
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                    <button class="ui teal fluid button" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}