{% extends 'base.html' %}
{% block nav_menu %}
    {% include 'base/nav_menu.html'%}
{% endblock %}

{% block content %}
    <h1>{{ category.name }}</h1>
    <div class="ui container">
        <div class="ui stackable two column grid" style="padding-right: 15px; padding-left: 15px;">
            <div class="three wide computer only column">
                {% include 'base/side_menu.html' %}
            </div>
            <div class="twelve wide column">

            {% if request.GET.q %}
                <h3 style="padding-left: 8px;"><i class="search icon"></i>Searched for: {{ request.GET.q }}</h3>
            {% endif %}

                <div class="ui grid">
                    <div class="doubling three column relaxed row">
                          {% for obj in object_list %}
                            <div class="column">
                              {% include 'products/snippets/card.html' with instance=obj %}
                            </div>
                          {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
