{% load semanticui %}
<div class="ui raised segment">

                {% if user.is_authenticated %}
                    <h3 class="ui header">Hello {{ user.first_name }}</h3>
                {% else %}
                    <p class="ui" style="font-size: 20px;">Login</p>
                {% endif %}
                <form class="ui form" method="POST" action="{% if action_url %}{{ action_url }}{% else %}{% url 'accounts:login' %}{% endif %}"> {% csrf_token %}
                    {#    {{ form }}#}
                    {% if next_url %}
                        <input type="hidden" name="next" value="{{ next_url }}">
                    {% endif %}

                    {% render_form form %}

                    {% for message in messages %}
                        <div class="ui negative message">
                            <div class="header">
                                Oops!!
                            </div>
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                    <button class="ui teal fluid button" type="submit">Login</button>
                </form>
                <p>Need account? <a href="{% url 'accounts:register' %}">Register</a></p>
                <h4 class="ui horizontal divider">
                    OR
                </h4>
                <button class="ui google plus labeled icon fluid button" onclick="location.href='{% url 'social:begin' 'google-oauth2' %}';">
                    <i class="google icon"></i>
                    Sign in with Google
                </button>
            </div>