{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", shrink-to-fit=no">
    <title>Welcome to Einghel's Collection</title>
    {% include 'base/css.html' %}
    {% block base_head %}{% endblock %}<!-- custom css block for home_page.html -->
</head>
<body class="Site" style="padding-top: 0px;">

<div class="ui grid">
    <div class="centered computer only row" style="padding-bottom: 0">
        {% include 'base/navbar.html' with brand_name='eCommerce' %}

    </div>
    <div class="tablet mobile only row">
        <div class="column" style="padding-right: 0px;">
            <div class="ui menu">
                <a id="mobile_item" class="item"><i class="bars icon"></i></a>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 0">
        <main class="Site-content">
            <div class="ui pushable segment">
                <div class="ui sidebar vertical menu">
                    <a class="header item" href="{% url 'products:home' %}"><img src="{% static 'img/bruh.png' %}"></img></a>
                    <a class="item">
                        <form id="frmSubmit" method="GET" action="{% url 'search:query' %}">
                            <div class="item">
                                <div class="ui icon input">
                                    <input type="text" placeholder="Search..." name="q">
                                    <i class="search link icon" onclick="document.getElementById('frmSubmit').submit();"></i>
                                </div>
                            </div>
                        </form>
                    </a>
                    <a class="header item">Einghel's Collection</a>
                    <a class="item" href="{% url 'products:home' %}">Products</a>
                    <a class="item" href="{% url 'cms:about' %}">About us</a>
                    <a class="item" href="{% url 'cms:contact' %}">Contact us</a>
                    {% if user.is_authenticated %}
                        <a class="item" href="{% url 'orders:past-orders' %}">My Orders</a>
                        <a class="item" href="{% url 'accounts:account_info' %}">Account</a>
                    {% endif %}
                    <a class="item" href="{% url 'carts:cart' %}">
                        <div id="cart-count-badge" class="ui teal left pointing label cart-count-badge"></div>
                        Cart
                    </a>
                    <div class="ui dropdown item">
                        Categories
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for obj in categories %}
                                <div class="item">
                                    <div class=""><a class="" href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></div>
                                    <div class="menu">
                                        {% for sub in subcategories %}
                                            {% if sub.category|slugify == obj.title|slugify %}
                                                <a class="item" href="{% url 'products:list_products_by_subcategory' sub.slug %}">{{ sub.title }}</a>
                                            {% endif %}


                                        {% endfor %}

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <a class="ui item btnLogout">
                            Welcome, {{ user.first_name }} |
                            Logout
                        </a>
                    {% else %}
                        <a class="ui item" href="{% url 'accounts:login' %}">
                            Login
                        </a>
                    {% endif %}
                    <!--   Your menu button  -->
{#                    <a class="browse item">#}
{#                        Browse Courses#}
{#                        <i class="dropdown icon"></i>#}
{#                    </a>#}
                    <!--   Your menu button  -->
                </div>
{#                <!-- Your Popup Content -->#}
{#                <div class="ui flowing basic admission popup"#}
{#                     style="top: 553px; left: 1px; bottom: auto; right: auto; width: 332px;">#}
{#                    <div class="ui three column relaxed divided stackable grid">#}
{#                        <div class="column">#}
{#                            <h4 class="ui header">Business</h4>#}
{#                            <div class="ui link list">#}
{#                                <a class="item">Design &amp; Urban Ecologies</a>#}
{#                                <a class="item">Fashion Design</a>#}
{#                                <a class="item">Fine Art</a>#}
{#                                <a class="item">Strategic Design</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="column">#}
{#                            <h4 class="ui header">Liberal Arts</h4>#}
{#                            <div class="ui link list">#}
{#                                <a class="item">Anthropology</a>#}
{#                                <a class="item">Economics</a>#}
{#                                <a class="item">Media Studies</a>#}
{#                                <a class="item">Philosophy</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="column">#}
{#                            <h4 class="ui header">Social Sciences</h4>#}
{#                            <div class="ui link list">#}
{#                                <a class="item">Food Studies</a>#}
{#                                <a class="item">Journalism</a>#}
{#                                <a class="item">Non Profit Management</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                </div>#}

                <div class="pusher">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            {% include 'base/footer.html' %}
            {% include 'base/js.html' %}

        </main>
    </div>
    <div class="row">

    </div>

</div>

{#        {% block nav_menu %}#}
{#        {% endblock %}  navmenu#}



{% block jQuery %}
{% endblock %}

{% block javascript %}
{% endblock %}
</body>
</html>