{% extends "base.html" %}
{% block nav_menu %}
    {% include 'base/nav_menu.html'%}
{% endblock %}

{% block content %}

    <br>
    <div class="ui centered stackable grid">
        <div class="four wide column">
            {% if object.image.url is not None %}
                <img class="ui medium rounded image" src="{{ object.image.url }}">
            {% endif %}
        </div>
        <div class="nine wide column">
            <h1 class="ui header">{{ object.title }}
                <div class="sub header">₱{{ object.price }}.00

                </div>
                <form id="add-form" method="GET" action="{% url 'carts:cart' %}">
                    <input type="hidden" name="item" value="{{ product.id }}">
                    <div class="sub header">
                        <div class="field">
                            <div class="ui spinner input">
                                <input type="text" id="number" name="qty" placeholder="Number" value="1"
                                       style="width: 50px;"/>
                                <div class="ui vertical buttons">
                                    <button type="button" class="ui spinner up icon button">
                                        <i class="chevron up icon"></i>
                                    </button>
                                    <button type="button" class="ui spinner down icon button">
                                        <i class="chevron down icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
{#                        {% if object in items.all %}#}
{#                            <button id="submit-btn" class="ui basic negative button" type="submit">#}
{#                                <i class="times icon"></i>#}
{#                                Remove#}
{#                            </button>#}
{#                        {% else %}#}
                            <button id="submit-btn" class="ui basic primary button" type="submit">
                                <i class="shop icon"></i>
                                Add to cart
                            </button>
{#                        {% endif %}#}

                    </div>
                </form>
            </h1>
        <div id="jquery-message" class="ui green message"></div>

            <h4 class="ui horizontal divider header">
                <i class="tag icon"></i>
                Description
            </h4>
            <p>{{ object.description|linebreaks }}</p>
            <h4 class="ui horizontal divider header">
                <i class="bar chart icon"></i>
                Specifications
            </h4>
            <table class="ui definition table">
                <tbody>
                <tr>
                    <td class="two wide column">Size</td>
                    <td>1" x 2"</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>6 ounces</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>Yellowish</td>
                </tr>
                <tr>
                    <td>Odor</td>
                    <td>Not Much Usually</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block jQuery %}
    <script>
        $(document).ready(function(){
                $("#jquery-message").hide();
        });
        $("#submit-btn").click(function(event){
            event.preventDefault();
            var formData = $("#add-form").serialize();
            console.log(formData);
            $.ajax({
                type: "GET",
                url: "{% url 'carts:cart' %}",
                data: formData,
                success: function(data) {
                    $("#jquery-message").text("Added to cart");
                    $("#jquery-message").show();
                    updateCatItemCount()
                },
                error: function (response, error) {
                    $("#add-form").submit()
                }
            })


        })
    </script>
{% endblock %}