{% extends 'base.html' %}

{% block content %}
    <div class="ui container">
        <div class="ui stackable two column grid">
            <div class="four wide column">
                <button class="ui button fluid"></button>
            </div>
            <div class="twelve wide column">
                <div class="ui grid">
                    <div class="doubling three column relaxed row">
                          {% for obj in object_list %}
                            <div class="column">
                              {% include 'products/snippets/card.html' with instance=obj %}
                            </div>
                          {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

{#    <div class="container">#}
{#        <div class="row">#}
{#        {% for obj in object_list %}#}
{#            <div class="col">#}
{#                {% include 'products/snippets/card.html' with instance=obj %}#}
{#            </div>#}
{#        {% endfor %}#}
{#        </div>#}
{#    </div>#}



{% endblock %}
