{% extends 'base.html' %}
{% block nav_menu %}
    {% include 'base/nav_menu.html'%}
{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="ui stackable two column grid">
            <div class="three wide column">
                <div class="ui vertical menu">
                    <div class="item">
                        <div class="ui icon input">
                            <input type="text" placeholder="Search...">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                    {% for obj in categories %}
                    <div class="item">
                        <div class="header">{{ obj.title }}</div>
                        <div class="menu">
                            {% for sub in subcategories %}
                                {% if sub.category|slugify == obj.title|slugify %}
                                    <a class="item" href="{% url 'products:list_products_by_subcategory' sub.slug %}">{{ sub.title }}</a>
                                {% endif %}


                            {% endfor %}

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui grid">
                    <div class="doubling three column relaxed row">
                          {% for obj in object_list %}
                            <div class="column">
                              {% include 'products/snippets/card.html' with instance=obj %}
                            </div>
                          {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

{#    <div class="container">#}
{#        <div class="row">#}
{#        {% for obj in object_list %}#}
{#            <div class="col">#}
{#                {% include 'products/snippets/card.html' with instance=obj %}#}
{#            </div>#}
{#        {% endfor %}#}
{#        </div>#}
{#    </div>#}


{% endblock %}
