{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="ui container" style="padding-right: 10px; padding-left: 10px;">
    <br/>
    <h1>Terms and Conditions</h1>
    <h3>Registration</h3>


    <p>I. By using our Services, you are agreeing to these terms. Please read them carefully.</p>

    <p>To protect your Account, keep your password confidential. You are responsible for the activity that happens on
        or through your Account. Try not to reuse your Account password on third-party applications.</p>

    <p>By using our Website, you agree that Einghel's Collection can use such data in accordance with our privacy
        policies.</p>

    <p>You must be registered with a valid personal email address that you access regularly, so that, among other things, administration emails can be sent to you. Any Accounts which have been registered with someone else's email address or with temporary email addresses may be closed without notice. We may require you to validate Accounts at registration or if we believe you have been using an invalid email address. </p>

    <p>You will not pass yourself off as someone else or create multiple, false accounts.</p>

    <p>Some of our Services allow you to upload, submit content. You retain ownership of any
        intellectual property rights that you hold in that content. In short, what belongs to you stays yours.</p>

    <h3>Ordering</h3>

    <h4>1. Products and Descriptions</h4>

    <p>I. All posted items that the website is posting is only for the use of Einghel's Collection</p>


    <p>II. The customer is liable for the finalization of the ordered to submit.</p>


    <h4>2. Purchasing</h4>


    <p>I. Placing an Order</p>

    <p>Pricing – all prices displayed upon placing an order are subjected to change upon the approval of the company.</p>




    <p>Payment Methods – The order will be process if it is already paid. The company accepts payment through banking, and
    through credit cards. You shall pay for the Product in full at the time of ordering by supplying us with your credit or debit card details from a credit or debit card company acceptable to us or by Stripe, which we require in order to process your Order. Alternatively, you may pay by any method that we have said is acceptable to us, but in any event, we shall not be bound to supply before we have received cleared funds in full. Your credit card payments will be received and processed by our Payment Service Provider. Depending on the results of a credit check, we reserve the right not to offer certain forms of payment and to refer you to our other forms of payment.</p>
    <p>If you are asked for details of a payment card, you must be fully entitled to use that card or account. The card or account must have sufficient funds to cover the proposed payment to us. </p>

    <p>Refund - payments that was settled using credit cards cannot be refunded. On the other hand, Payments via bank deposit can be refunded only if you contact the company using the contact information provided in the Contact Us page.</p>


    <p>Processing – When choosing Bank Deposit as the mode of payment, the customer has three (3) days to settle the payment in order to be processed. the customer failed to
    settle the payment within the given day/s, the order will be considered “Cancelled”.</p>

    <p>Delivery of products - ordered and paid products will be processed and ship via JRS Express, costumers will have to
    wait 3 to 5 working days for their items to be delivered, if delay of delivery will happen due to unpredictable
    weather, customers will be notified through email.</p>



</div>

{% endblock %}